<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 p-2">
    <div class="flex flex-col justify-center w-full text-center">
        <p class="text-xl">Asigna ésta receta a las sucursales disponibles</p>
    </div>
    <ng-container>
        <div class="mx-auto text-center w-60 gap-4 my-4">
            <h2>Tienda Principal</h2>

            <div class="flex justify-center gap-4 my-4">
                <div class="flex flex-col justify-center text-center" *ngFor="let item of mystores">
                    <a class="flex items-center w-24 h-24 rounded-full mx-auto bg-neutral-400 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-20 w-16 text-white rounded-full mx-auto">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                        </svg>
                    </a>
                    <p class="pt-2 text-lg font-semibold text-gray-400">
                        {{ item.name }}
                    </p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="mybranch.length > 0">
        <div class="mx-auto text-center w-60 gap-4 my-4">
            <h2>Sucursales</h2>
            <div class="flex justify-center gap-4 my-4">
              <div
                class="flex flex-col justify-center text-center"
                *ngFor="let item of mybranch"
              >
                <a
                [ngClass]="{'bg-neutral-300': !item.isSelected, 'bg-neutral-400': item.isSelected}"
                (click)="selectBranch(item.data.id)"
                class="flex items-center w-24 h-24 rounded-full mx-auto bg-neutral-300 text-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-20 w-16 text-white rounded-full mx-auto"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    />
                  </svg>
                </a>
                <p class="pt-2 text-lg font-semibold text-gray-400">
                  {{ item.data.name }}
                </p>
              </div>
            </div>
            <button class="bg-[#7C7A7A] text-white w-32 py-2 px-2 mx-auto w-32 rounded-2xl" (click)=" onSubmit()">Aceptar</button>
          </div>
        <!-- <form [formGroup]="params" class="grid grid-cols-1 gap-2 my-4">
            <div class="flex justify-center gap-2 my-2 text-xl text-neutral-600">
                Sucursales
            </div>
            <div class="flex justify-center flex-wrap gap-4 my-4">
                <div class="inline-block radio text-center" *ngFor="let item of mybranch">
                    <div class="flex flex-col justify-center text-center">
                        <input formControlName="store" name="store" type="radio" hidden="hidden" />
                        <label class="flex items-center w-24 h-24 rounded-full mx-auto text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-20 w-16 text-white rounded-full mx-auto">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                            </svg>
                        </label>
                    </div>
                    <p class="pt-2 text-sm font-semibold text-gray-400">
                        {{ item.name }}
                    </p>
                </div>
            </div>
            <button class="bg-[#7C7A7A] text-white w-32 py-2 px-2 mx-auto w-32 rounded-2xl"
                style="width: 300px;">Aceptar</button>
        </form> -->
    </ng-container>
</div>