<div class="flex justify-between gap-2">
    <a [routerLink]="['/home/settings/distributions_medium/all/', this.id]" mat-mini-fab color="primary">
      <mat-icon>chevron_left</mat-icon>
    </a>
    </div>
    <div class="max-w-xl self-center mx-auto my-10 bg-white p-8">
        <div class="flex justify-center w-full">
          <h1 class="text-3xl font-medium">Añadir medios de consumo </h1>
        </div>
      
        <form  [formGroup]="dm" class="">
          <div class="relative inline-flex w-full">
            <svg
              class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 412 232"
            >
              <path
                d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
                fill="#648299"
                fill-rule="nonzero"
              />
            </svg>
            <select
             formControlName="methods_selected"

              aria-placeholder="Seleccione el método"
              formControlName="methods_selected"
              class="w-full border border-neutral-300 rounded-full text-neutral-500 h-10 pl-5 pr-10 bg-white hover:border-neutral-400 focus:outline-none appearance-none"
            >
            <option value="">Seleccione el medio de consumo</option>
    
              <option *ngFor="let item of distribution" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
          </div>
        </form>
 
        <div class="flex justify-center gap-2 my-4">
          <button
            class="p-3 rounded-full text-white w-1/2 font-semibold"
            [ngClass]="dm.invalid? 'bg-neutral-300' : 'bg-neutral-F700'"
            [disabled]="dm.invalid ? true: false"
            (click)="onSubmit()"
          >
           Agregar medio de consumo
          </button>
        </div>
      </div>
    