<div
  class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8 bg-gray-200"
>

  
  <!-- <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      

      <h2
        class="mt-10 text-center  font-bold tracking-tight text-gray-700"
      >
        Selecciona una tienda
      </h2>
      

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="bg-white px-2 text-gray-500"
              >GSOFT - Techonologies</span
            >
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
