
<form [formGroup]="quantity"  class="grid grid-cols-1 p-8 justify-center">
    <p class="text-center text-xl">Selecciona la cantidad de tu producto.</p>
    <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
        <input
        type="number"
          class="pl-2 w-full outline-none border-none"
          formControlName="quantity"
          placeholder="Cantidad"
        />
    </div>
    <button class="w-full bg-[#7C7A7A] text-white w-32 py-2 px-2 w-32 rounded-2xl mt-5" (click)="onSubmit()">Aceptar</button>
</form>