<div class="flex justify-between gap-2">
  <a [routerLink]="['../']" mat-mini-fab color="primary">
    <mat-icon>chevron_left</mat-icon>
  </a>
  <div class="flex justify-center">
    <span class="text-center font-bold text-2xl text-neutral-600"
      >Ingreso y Egresos de inventario</span
    >
  </div>
  <div></div>
</div>
<div
  class="max-w-xl h-full mx-auto flex flex-col justify-center my-4 p-2 z-10 relative"
>
  <div class="fixed bottom-4 right-4 first-letter:my-4">
    <a mat-mini-fab color="primary" [routerLink]="['../options']">
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div>
<form [formGroup]="options" class="flex justify-center gap-2">
  <div
    class="inline-flex gap-2 radio text-center"
  >
    <div class="flex flex-col justify-center text-center text-xl">
      <input
        formControlName="typeinv"
        name="typeinv"
        type="radio"
        id="prima"
        hidden="hidden"
        value="1"
        cheked
      />
      <label
        for="prima"
        class="flex items-center font-semibold rounded-full px-4 py-2 mx-auto bg-neutral-400"
      >
        Ventas
      </label>
    </div>
    <div class="flex flex-col justify-center text-center text-xl">
      <input
        formControlName="typeinv"
        type="radio"
        id="sale"
        hidden="hidden"
        value="2"
        cheked
      />
      <label
        for="sale"
        class="flex items-center font-semibold rounded-full px-4 py-2 mx-auto bg-neutral-400 selection:text-neutral-800"
      >
        Materia prima
      </label>
    </div>
  </div>
</form>
<div class="max-w-4xl mx-auto">
  <form [formGroup]="params" class="grid grid-cols-1 gap-4 my-2">
    <div class="mt-4 w-full">
      <label
        class="block font-medium text-sm text-gray-700"
        for="password"
        value="Password"
      ></label>
      <div class="relative">
        <input
          formControlName="search"
          placeholder="Buscar"
          required
          class="w-full rounded-full py-2.5 px-4 border text-base bg-neutral-300 outline-orange-500"
        />

        <div
          class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
        >
          <button
            class="text-gray-500 focus:outline-none focus:text-gray-600 hover:text-gray-600"
            mat-icon-button
            matSuffix
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <span class="text-xl text-center font-semibold text-neutral-600"
      >Tienda Principal</span
    >
    <div class="flex justify-center gap-2">
      <div class="inline-block radio text-center" *ngFor="let item of mystores">
        <div class="flex flex-col justify-center text-center">
          <input
            formControlName="store"
            name="store"
            type="radio"
            [id]="item.id"
            hidden="hidden"
            [value]="item.id"
            checked
          />
          <label
            [for]="item.id"
            class="flex items-center w-20 h-20 rounded-full mx-auto bg-neutral-400 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-16 w-16 text-white rounded-full mx-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
              />
            </svg>
          </label>
        </div>
        <span class="pt-2 text-xs text-wrap font-semibold text-gray-400">
          {{ item.name }}
        </span>
      </div>
    </div>
    <span class="text-xl font-semibold text-neutral-600 text-center"
      >Sucursales</span
    >
    <div class="flex justify-center gap-2">
      <div class="inline-block radio text-center" *ngFor="let item of mybranch">
        <div class="flex flex-col justify-center text-center">
          <input
            formControlName="store"
            name="store"
            type="radio"
            [id]="item.name"
            hidden="hidden"
            [value]="item.id"
            checked
          />
          <label
            [for]="item.name"
            class="flex items-center w-20 h-20 rounded-full mx-auto bg-neutral-400 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-16 w-16 text-white rounded-full mx-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
              />
            </svg>
          </label>
        </div>
        <span class="pt-2 text-xs text-wrap font-semibold text-gray-400">
          {{ item.name }}
        </span>
      </div>
    </div>
    <div class="flex justify-center gap-2">
      <div class="inline-flex gap-2 radio text-center">
        <div class="flex flex-col justify-center text-center text-xl">
          <input
            formControlName="type"
            name="type"
            type="radio"
            id="1"
            hidden="hidden"
            value="false"
            checked
          />
          <label
            for="1"
            class="flex items-center font-semibold rounded-full px-4 py-2 mx-auto bg-neutral-400"
          >
            Ingresos
          </label>
        </div>
        <div class="flex flex-col justify-center text-center text-xl">
          <input
            formControlName="type"
            name="type"
            checked
            type="radio"
            id="2"
            hidden="hidden"
            value="true"
          />
          <label
            for="2"
            class="flex items-center font-semibold rounded-full px-4 py-2 mx-auto bg-neutral-400 selection:text-neutral-800"
          >
            Egresos
          </label>
        </div>
      </div>
      <div class="inline-flex items-center justify-center gap-2">
        <mat-date-range-input
          class="rounded-full text-center px-2 py-2 items-end bg-neutral-300 text-base focus:outline-none outline-none"
          [rangePicker]="campaignOnePicker"
          [comparisonStart]="params.value.start"
          [comparisonEnd]="params.value.end"
        >
          <input matStartDate placeholder="Desde" formControlName="start" />
          <input
            matEndDate
            placeholder="Hasta"
            formControlName="end"
           
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="campaignOnePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker
          touchUi
          #campaignOnePicker
        ></mat-date-range-picker>
      </div>
      <button
        mat-icon-button
        color="accent"
        type="submit"
        (click)="params.reset();  nextPage = 1"
      >
        <mat-icon>filter_alt_off</mat-icon>
      </button>
    </div>
  </form>
</div>
<div class="mx-auto flex flex-col justify-center my-4 p-2">
  <div class="grid xl:grid-cols-3 gap-4 m-4">
    <ng-container *ngIf="params.value.type == 'false'">
      <app-depot-purcharse-order  [item]="item"   *ngFor="let item of dataDepotInv"   (click)="openDetail(item)"></app-depot-purcharse-order>
    </ng-container>
    <ng-container *ngIf="params.value.type == 'true'">
      <app-depot-inventory  [item]="item"  *ngFor="let item of dataTrash" (click)="openDetail(item)"></app-depot-inventory>
    </ng-container>
  </div>
</div>


<div
  class="fixed sm:left-4 first-letter:my-4 bottom-4 md:left-1/2 flex justify-center items-center space-x-4"
>
  <mat-paginator
    class="rounded-full bg-neutral-400 px-2 py-1 shadow-sm"
    [pageSizeOptions]="[10]"
    showFirstLastButtons
    [length]="count"
    [hidePageSize]="true"
    (page)="nextPageIndex($event)"
  ></mat-paginator>
</div>
