<div class="flex justify-between gap-2">
  <a [routerLink]="[id == null ? '../measurement_units' : '../']" mat-mini-fab color="primary">
    <mat-icon>chevron_left</mat-icon>
  </a>
  <div class="flex flex-col gap-2 m-2">
    <button
      mat-mini-fab
      color="primary"
      *ngIf="this.id != null"
      (click)="options.value.option === 'false'? muform.enable() : hourform.enable()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      *ngIf="this.id != null"
      (click)="deleteMU()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div class="max-w-xl self-center mx-auto bg-white p-2">
  <div class="flex flex-col justify-center w-full text-center">
    <p class="text-3xl font-semibold">Unidades de medidas</p>
  </div>
  <form [formGroup]="options" class="grid grid-cols-1 gap-2">
    <div class="relative inline-flex my-2">
      <svg
        class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 412 232"
      >
        <path
          d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
          fill="#648299"
          fill-rule="nonzero"
        />
      </svg>
      <select
        formControlName="option"
        placeholder="Equivalencia"
        class="w-full border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
      >
        <option value="false">Unidad de medida</option>
        <option value="true">Horas</option>
      </select>
    </div>
  </form>
  <ng-container *ngIf="options.value.option === 'false'">
    <form [formGroup]="muform" class="grid grid-cols-1 gap-2 my-4">
      <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
        <input
          class="pl-2 w-full outline-none border-none"
          formControlName="name"
          placeholder="Nombre de la Unidad"
        />
      </div>
      <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
        <input
          class="pl-2 w-full outline-none border-none"
          formControlName="abbreviation"
          placeholder="Abreviatura de la unidad"
        />
      </div>
      <div>
        <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
          <input
            class="pl-2 w-full outline-none border-none"
            formControlName="value"
            placeholder="Cantidad"
            minlength="1"
            maxlength="5"
            pattern="[0-9]*"
          />
        </div>
        <mat-error
          class="text-xs flex justify-center"
          *ngIf="muform.controls['value'].hasError('pattern')"
          >Solo caracteres numericos
        </mat-error>
      </div>
      <div class="grid xl:flex items-center justify-around gap-2 w-full">
        <div class="relative inline-flex my-2">
          <svg
            class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 412 232"
          >
            <path
              d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
              fill="#648299"
              fill-rule="nonzero"
            />
          </svg>
          <select
            (ngModelChange)="changeSelection()"
            formControlName="equivalence"
            placeholder="Equivalencia"
            class="w-full border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
          >
            <option value="">Equivalencia</option>
            <option *ngFor="let item of mu" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="flex justify-center mx-4">
          <mat-icon>sync_alt</mat-icon>
        </div>
        <div>
          <div
            class="flex w-full items-center border-2 my-2 py-2 px-3 rounded-2xl"
          >
            <input
              class="pl-2 w-full outline-none border-none"
              formControlName="cantidad"
              placeholder="Ejemplo: 1000"
              readonly
            />

            <mat-icon matSuffix>scale</mat-icon>
          </div>
          <mat-error
            class="text-xs flex justify-center"
            *ngIf="muform.controls['cantidad'].hasError('pattern')"
            >Solo caracteres numericos
          </mat-error>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="options.value.option === 'true'">
    <form [formGroup]="hourform" class="grid grid-cols-1 gap-2 my-4">
      <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
        <input
          class="pl-2 w-full outline-none border-none"
          formControlName="name"
          placeholder="Nombre de de unidad Tiempo"
        />
      </div>
      <div class="relative inline-flex my-2">
        <svg
          class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 412 232"
        >
          <path
            d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
            fill="#648299"
            fill-rule="nonzero"
          />
        </svg>
        <select
          formControlName="currency"
          placeholder="Tipo de moneda"
          class="w-full border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
        >
          <option value="">Tipo de moneda</option>
          <option value="1">BOLIVARES</option>
          <option value="2">DOLARES</option>
          <option value="3">EUROS</option>
        </select>
      </div>
      <div>
        <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
          <input
            class="pl-2 w-full outline-none border-none"
            formControlName="cost"
            placeholder="Costo de hora"
            minlength="0"
            pattern="[0-9]*"
          />
        </div>
        <mat-error
          class="text-xs flex justify-center"
          *ngIf="hourform.controls['cost'].hasError('pattern')"
          >Solo caracteres numericos
        </mat-error>
      </div>
      <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
        <input
          class="pl-2 w-full outline-none border-none"
          formControlName="abbreviation"
          placeholder="Abreviatura de la unidad"
        />
      </div>
      <div>
        <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
          <input
            class="pl-2 w-full outline-none border-none"
            formControlName="value"
            placeholder="Cantidad"
            minlength="1"
            maxlength="5"
            pattern="[0-9]*"
          />
        </div>
        <mat-error
          class="text-xs flex justify-center"
          *ngIf="muform.controls['value'].hasError('pattern')"
          >Solo caracteres numericos
        </mat-error>
      </div>
      <div class="grid xl:flex items-center justify-around gap-2 w-full">
        <div class="relative inline-flex my-2">
          <svg
            class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 412 232"
          >
            <path
              d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
              fill="#648299"
              fill-rule="nonzero"
            />
          </svg>
          <select
            (ngModelChange)="changeSelection2()"
            formControlName="equivalence"
            placeholder="Equivalencia"
            class="w-full border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
          >
            <option value="">Equivalencia</option>
            <option *ngFor="let item of mu" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="flex justify-center mx-4">
          <mat-icon>sync_alt</mat-icon>
        </div>
        <div>
          <div
            class="flex w-full items-center border-2 my-2 py-2 px-3 rounded-2xl"
          >
            <input
              class="pl-2 w-full outline-none border-none"
              formControlName="cantidad"
              placeholder="Ejemplo: 1000"
              readonly
            />

            <mat-icon matSuffix>scale</mat-icon>
          </div>
          <mat-error
            class="text-xs flex justify-center"
            *ngIf="muform.controls['cantidad'].hasError('pattern')"
            >Solo caracteres numericos
          </mat-error>
        </div>
      </div>
    </form>
  </ng-container>

  <div></div>

  <div class="flex justify-center gap-2">
    <button
      *ngIf="options.value.option === 'false'"
      class="p-3 rounded-full text-white w-1/2 font-semibold text-xl"
      [ngClass]="muform.invalid ? 'bg-neutral-300' : 'bg-neutral-500'"
      [disabled]="muform.invalid"
      (click)="onSubmit()"
    >
      Guardar cambios
    </button>
    <button
      *ngIf="options.value.option === 'true'"
      class="p-3 rounded-full text-white w-1/2 font-semibold text-xl"
      [ngClass]="hourform.invalid ? 'bg-neutral-300' : 'bg-neutral-500'"
      [disabled]="hourform.invalid"
      (click)="onSubmit()"
    >
      Guardar cambios
    </button>
  </div>
</div>
