<div mat-dialog-title class="header-dialog">
    <span class="text-xl font-medium">Metodos de pagos</span>
    <a
      mat-dialog-close
      class="absolute top-1 right-0 p-2.5 text-sm font-medium text-white rounded-r-lg cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
      <span class="sr-only">Close</span>
    </a>
  </div>
  <div mat-dialog-content>
    <div class="">
      <form [formGroup]="payments" class="grid  gap-2 p-4">
        <div>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Metodos de Pagos</mat-label>
            <mat-select formControlName="payment_methods" multiple>
              <mat-option *ngFor="let item of methods_arr" [value]="item.id" >{{
                item.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Banco</mat-label>
            <mat-select formControlName="bank" >
              <mat-option *ngFor="let item of methods_arr" [value]="item.id" >{{
                item.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Nro de Cuenta</mat-label>
            <input matInput formControlName="bank_account" maxlength="20" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions class="ffooter-dialog" align="end">
    <button mat-raised-button mat-dialog-close>Cancelar</button>
  
    <button
      mat-raised-button
      color="accent"
      (click)="onSubmit()"
      class="text-white"
      [disabled]="payments.invalid"
    >
      {{ this.data != "" ? "Actualizar" : "Agregar" }}
    </button>
  </div>
  