<li>
  <span class="text-gray-400 font-bold">{{ ruta.name }}</span>
  </li>
<li class="mb-1 group">
    <a  [routerLink]="'/home/' + ruta.patch" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100 sidebar-dropdown-toggle">
        <i class='bx bx-user mr-3 text-lg'></i>                
        <span class="text-sm">{{ ruta.name }}</span>
        <i class="ri-arrow-right-s-line ml-auto group-[.selected]:rotate-90"></i>
    </a>
    <ul class="pl-7 mt-2 hidden group-[.selected]:block">
        <li class="mb-4" *ngFor="let item of ruta.children">
            <a   [routerLink]="'/home/' + item.patch"
            routerLinkActive="router-link-active" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">All</a>
        </li> 
        
    </ul>
</li>
