/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
th {
  background-color: #0e0e0e !important;
  color: whitesmoke !important;
}


table {
  position: relative;
  width: 100%;
  max-height: 600px;
  overflow: auto;
}
.header-dialog {
  background: #424242;
  color: white !important; 
}
.footer-dialog {
  background: #424242;
  color: white !important; 
}
.radio input ~ label {
  background-color: #dadada;
  color: rgb(194, 186, 186);
}
.radio input:checked ~ label {
  background-color: rgb(163 163 163 / var(--tw-bg-opacity));
  color: white;
}