<div mat-dialog-content>
 <div class="relative"> 
    <div class="absolute top-0 right-3 flex flex-col gap-2 m-2 p-2">
        <button mat-mini-fab color="primary" (click)="editRecipes()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="deleteRecipe()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="mx-auto px-4 sm:px-6 lg:px-8 p-8">
        <div class="flex flex-col justify-center w-full text-center">
          <a
            class="flex items-center w-24 h-24 rounded-full mx-auto bg-neutral-400 text-white"
          >
            <img
              alt="..."
              [src]="data.recipe.image"
              class="relative w-24 h-24 rounded-full mx-auto bg-neutral-400 text-white object-cover object-center hover:z-10 focus:z-10"
            />
          </a>
          <p class="text-xl">{{ data.recipe.name }}</p>
          <div class="flex items-center justify-center gap-4">
            <div class="w-60 py-2">Costo de producción</div>
            <div class="py-2 border-2 px-6 rounded-2xl">
              {{ data.recipe.total_production_cost }}$
            </div>
          </div>
          <div class="flex items-center justify-center gap-4 mt-2">
            <div class="w-60 py-2">Precios</div>
            <div class="py-2 border-2 px-6 rounded-2xl">{{ data.recipe.price }}$</div>
          </div>
      
          <form
            class="flex flex-col gap-4 mb-2 justify-center w-full mt-2"
            [formGroup]="params"
          >
            <div class="flex flex-col justify-center text-center">
              <!-- <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
                          <input class="pl-2 w-full outline-none border-none" placeholder="Costo de venta"
                              value="Costo de producción: {{data.recipe.total_production_cost}}" readonly />
                      </div> -->
              <div class="flex items-center border-2 my-2 py-2 px-3 rounded-2xl">
                <textarea
                  class="pl-2 w-full outline-none border-none"
                  rows="3"
                  cols="50"
                  placeholder="Descripción"
                  readonly
                  >{{ data.recipe.detail }} </textarea
                >
              </div>
            </div>
          </form>
        </div>
        <ng-container>
          <div class="mx-auto text-center w-60 gap-4 my-4">
            <div class="flex justify-center gap-2 my-2 text-xl text-neutral-600">
              Tienda Principal
            </div>
            <div class="flex justify-center flex-wrap gap-4 my-4">
              <div
                *ngFor="let item of data.storeMain"
                class="inline-block radio text-center"
              >
                <div class="flex flex-col justify-center text-center">
                  <a
                    class="flex items-center w-24 h-24 rounded-full mx-auto bg-neutral-400 text-white"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-20 w-16 text-white rounded-full mx-auto"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                      />
                    </svg>
                  </a>
                </div>
                <p class="pt-2 text-sm font-semibold text-gray-400">
                  {{ item.name }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <form class="grid grid-cols-1 gap-2 my-4">
            <div class="flex justify-center gap-2 my-2 text-xl text-neutral-600">
              Asignado a estas sucursales
            </div>
            <div class="flex justify-center flex-wrap gap-4 my-4">
              <div
                *ngFor="let item of data.recipe.store"
                class="inline-block radio text-center"
              >
                <div class="flex flex-col justify-center text-center">
                  <a
                    class="flex items-center w-24 h-24 rounded-full mx-auto bg-neutral-400 text-white"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-20 w-16 text-white rounded-full mx-auto"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                      />
                    </svg>
                  </a>
                </div>
                <p class="pt-2 text-sm font-semibold text-gray-400">
                  {{ item.name }}
                </p>
              </div>
            </div>
          </form>
        </ng-container>
      </div>
 </div>
  
</div>
<!-- <div class="max-w-xl mx-auto flex flex-col justify-center my-4 p-2">
    <div class="absolute top-4 right-4 first-letter:my-4">
        <a mat-mini-fab color="primary">
            <mat-icon>edit</mat-icon>
        </a>
    </div>
</div>
<div class="max-w-xl mx-auto flex flex-col justify-center my-4 p-2">
    <div class="absolute right-4 first-letter:my-4" style="top: 60px;">
        <a mat-mini-fab color="primary" (click)="deleteRecipe()">
            <mat-icon>delete</mat-icon>
        </a>
    </div> 
</div> -->
